<div class="container">
  <h1><%= @task.title %></h1>
  <h5><%= @task.details %></h5>
  <% if @task.completed == true %>
    <p><i class="far fa-check-square"></i> This task is completed</p>
  <% else %>
    <p><i class="far fa-square"></i> This task is not completed yet</p>
  <% end %>
  <br>
  <p><i class="fas fa-undo-alt"></i> <%= link_to 'Go back to tasks', tasks_path %></p>
  <p><i class="far fa-edit"></i> <%= link_to 'Edit this task', edit_task_path %></p>
</div>



